<!DOCTYPE html>
<html lang="uk">

<%- include('../blocks/head.ejs'); %>

<body class="bg-dark text-light">

  <!-- Підключення шапки сайту -->
  <%- include('../blocks/header.ejs'); %>

  <!-- Підключення блоку керування -->
  <%- include('../blocks/control.ejs'); %>

  <!-- Додавання таблиці -->
  <%- include('../blocks/table_start.ejs'); %>
  <%- include('../blocks/table_head_hospitals.ejs'); %>

  <tr>
    <td> <span class="m-2">1</span> </td>
    <td>9 Обласна Клінічна Лікарня</td>
    <td>м. Львів, вул. С.Наливайка, 16</td>
    <td> <%- include('../blocks/icons.ejs') %> </td>
  </tr>

  <tr>
    <td> <span class="m-2">2</span> </td>
    <td>Охмадит</td>
    <td>м. Львів, вул. В.Лисенка, 134а</td>
    <td> <%- include('../blocks/icons.ejs') %> </td>
  </tr>

  <tr>
    <td> <span class="m-2">...</span> </td>
    <td>-</td>
    <td>-</td>
    <td> <%- include('../blocks/icons.ejs') %> </td>
  </tr>

  <tr>
    <td> <span class="m-2">5</span> </td>
    <td>Дублянська місцева поліклініка</td>
    <td>м. Дубляни, вул. В.Великого, 4</td>
    <td> <%- include('../blocks/icons.ejs') %> </td>
  </tr>

  <%- include('../blocks/table_end.ejs'); %>

  <!-- Підключення скриптів -->
  <%- include('../blocks/scripts.ejs'); %>

</body>

</html>